<body>
  <div id="timer">00:00:000</div>
  <button id="start">start</button>
  <button id="stop">stop</button>
  <button id="reset">reset</button>
    
  <script>
      (function(){
      'stop watch';

       var timer = document.getElementById('timer');
       var start = document.getElementById('start');
       var stop = document.getElementById('stop');
       var reset = document.getElementById('reset');
    
       var startTime;
    
       var elapsedTime = 0;

       var timerId;

       var timeToadd = 0;

       function updateTimetText(){

         var m = Math.floor(elapsedTime / 60000);
        
         var s = Math.floor(elapsedTime % 60000 / 1000);

         //135200ミリ 割る1000ミリ秒　→余り
         var ms = elapsedTime % 1000;


          m = ('0' + m).slice(-2); 
          s = ('0' + s).slice(-2);
          ms = ('0' + ms).slice(-3);

          //html表示ストップウォッチ部分
          timer.textContent = m + '分' + s + '秒' + ms;
      }

      function countUp(){

          timerId = setTimeout(function(){

            elapsedTime = Date.now() - startTime + timeToadd;
            updateTimetText()

            countUp();

        //1秒以下の秒表記する！
        },10);
      }

      start.addEventListener('click',function(){

        startTime = Date.now();

        countUp();
      });

      stop.addEventListener('click',function(){

         clearTimeout(timerId);

         timeToadd += Date.now() - startTime;
      });
      
      //リセット
      reset.addEventListener('click',function(){
      
        elapsedTime = 0;

        timeToadd = 0;

        updateTimetText();

      });
     })();
    </script>
    <div class="form">
      <%= form_for (@score) do |f| %>
       <%= f.label :"スコア"%>
       <%= f.hidden_field :score, id: "timer" %>
       <%= f.text_field :score, placeholder: "1539170" %>
       <%= f.submit "登録" %>
      <% end %> 
    </div>
</body>
