<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="logo">
      <% if signed_in? %>
      <p class="title">ぼくをクリックしてルールをみてみよう</p>
      <%= link_to "/" do %>
        <%= image_tag 'boy.png',size: "200x150" %>
      <% end %>  
      <% else %>
        <p class="title">ワクワク！おさらあらいゲーム</p>
        <%= image_tag 'boy.png',size: "200x150" %>
      <% end %>
     </div>      
      <ul class="nav">
        <li></li>
        <% if signed_in? %>
        <li><%= link_to "じぶんのページ", user_path(@current_user), class: "link" %></li>
        <li><%= link_to "みんなのページ", posts_path, class: "link" %></li>
        <li><%= link_to "ログアウト",logout_path, method: :delete, class: "link" %></li>
        <% else %>
        <li><%= link_to "はじめてのみんな", new_user_path, class: "link" %></li>
        <li><%= link_to "もうやったことあるみんな!", login_path, class: "link" %></li>
        <% end %>
      </ul>
      
  </header>
  <body>
    <%= yield %>
  </body>
</html>
